In [1]:
import sqlite3 as lite
import pandas as pd
import os

# path to db

In [2]:
db_path = os.path.join(os.getcwd(), 'crawler_app', 'crawler_app', 'db', 'crawler.sqlite')

# code to get all table names

In [3]:
def get_table_names(database):
    ''' print out all the table names in an SQLite db'''
    conn = lite.connect(database)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    print(cursor.fetchall())
    conn.close()
get_table_names(db_path)

[('Account',), ('History',), ('Graph_Data',)]

In [4]:
def execute_statement(query, database):
    """ Execute a query and return results as dataframe. 
        ARGS: SQL statement, database path
        RETURN: dataframe with results
    """
    conn = lite.connect(database)
    result = pd.read_sql_query(query, conn)
    conn.close()
    return result

In [5]:
query = \
"""
SELECT * FROM Account
"""
execute_statement(query, db_path)

,id,username,password_hash,created
0,cfc590cc6a664a6d98921ff9f01ac252,cas,$6$rounds=150000$dLYNUe6SHAiIQR6Z$mSq.c0kfMHiu...,2018-03-01 13:52:52.685161

In [6]:
query = \
"""
SELECT * FROM History
"""
execute_statement(query, db_path)

,auto_id,user_id,url,search_type,search_limit,keyword,created
0,1,cfc590cc6a664a6d98921ff9f01ac252,https://www.caelum.site,BFS,2,,2018-03-01 13:56:39.548589

In [7]:
query = \
"""
SELECT * FROM Graph_Data
"""
execute_statement(query, db_path)

,domain,node_depth,node_id,parent_node,url,lookup_id
0,www.caelum.site,0,0,0,https://www.caelum.site,1
1,www.cas-donoghue.org,1,1,0,https://www.cas-donoghue.org/,1
2,github.com,1,2,0,https://github.com/donoghuc/visual_web_crawler,1
3,stackoverflow.com,2,3,1,https://stackoverflow.com/users/9034974/cas-do...,1
4,talkpython.fm,2,4,1,https://talkpython.fm,1
5,www.linkedin.com,2,5,1,https://www.linkedin.com/in/casadilla,1
6,donoghuc.github.io,2,6,1,https://donoghuc.github.io,1
7,github.com,2,7,1,https://github.com/donoghuc,1
8,twitter.com,2,8,1,https://twitter.com/mkennedy,1
9,github.com,2,9,1,https://github.com/donoghuc/casadilla_web,1
10,help.github.com,2,10,2,https://help.github.com/articles/which-remote-...,1
11,developer.github.com,2,11,2,https://developer.github.com,1
12,github.com,2,12,2,https://github.com/,1
13,github.com,2,13,2,https://github.com/site/privacy,1
14,training.github.com,2,14,2,https://training.github.com,1
15,shop.github.com,2,15,2,https://shop.github.com,1
16,github.com,2,16,2,https://github.com,1
17,help.github.com,2,17,2,https://help.github.com/articles/github-security/,1
18,github.com,2,18,2,https://github.com/contact,1
19,github.com,2,19,2,https://github.com/about,1
20,status.github.com,2,20,2,https://status.github.com/,1
21,help.github.com,2,21,2,https://help.github.com/articles/github-terms-...,1
22,help.github.com,2,22,2,https://help.github.com,1
23,www.caelum.site,2,23,2,https://www.caelum.site/,1